## Deliverable 3. Create a Travel Itinerary Map.

In [41]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [10]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/crsch/Desktop/CLass/Vacation_Search/WeatherPy_vacation.csv", index_col="City_ID")
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
2,Kutum,SD,79.12,broken clouds,14.20,24.67,Dibbo areaمنطقة دبو
3,Pochutla,MX,75.20,mist,15.74,-96.47,Hotel Posada San Jose
4,Hithadhoo,MV,79.48,overcast clouds,-0.60,73.08,Scoop Guest House
6,Kroya,ID,75.56,broken clouds,-7.63,109.25,RUSTANTO Fam
16,Bengkulu,ID,76.26,scattered clouds,-3.80,102.27,Grage Hotel Bengkulu

In [11]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [12]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df)["City"] == "Fairview"]
vacation_end = vacation_df.loc[(vacation_df)["City"] == "Fairview"]
vacation_stop1 = vacation_df.loc[(vacation_df)["City"] == "Westport"]
vacation_stop2 = vacation_df.loc[(vacation_df)["City"] == "Palmer"] 
vacation_stop3 = vacation_df.loc[(vacation_df)["City"] == "Bethel"] 

vacation_stop3

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
54,Bethel,US,81.0,overcast clouds,41.37,-73.41,Courtyard by Marriott Danbury

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][4],vacation_start.to_numpy()[0][5])
end = (vacation_end.to_numpy()[0][4],vacation_end.to_numpy()[0][5])
stop1 = (vacation_stop1.to_numpy()[0][4],vacation_stop1.to_numpy()[0][5])
stop2 = (vacation_stop2.to_numpy()[0][4],vacation_stop2.to_numpy()[0][5])
stop3 = (vacation_stop3.to_numpy()[0][4],vacation_stop3.to_numpy()[0][5])

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(trip)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Fairview,US,87.01,few clouds,40.81,-74.00,Homewood Suites by Hilton Edgewater-NYC Area
1,Fairview,US,87.01,few clouds,40.81,-74.00,Homewood Suites by Hilton Edgewater-NYC Area
2,Westport,US,84.99,broken clouds,41.14,-73.36,The Westport Inn
3,Palmer,US,78.01,broken clouds,42.16,-72.33,Wedgewood Motel
4,Bethel,US,81.00,overcast clouds,41.37,-73.41,Courtyard by Marriott Danbury

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))